.Navbar {
  position: fixed;
  z-index: 999;
  min-width: 100px;
  height: 100%;
  background-color: #000;
  color: #fff;
  z-index: 4;
  transition: min-width 0.4s;
}
.Navbar-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.Navbar-navlink {
  text-decoration: none;
}
.Brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  margin: auto;
}
.Brand-logo {
  color: black;
  background-color: #fff;
  padding: 5px;
  font-size: 35px;
  border-radius: 50%;
  margin-right: 5px;
}
.Brand-name {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
  transition: all 0.4s;
}
.Navbar-navigation {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: padding 0.4s;
}
.Navbar-item {
  display: flex;
  color: #b3b3b3;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
  flex-direction: column;
  margin-bottom: 30px;
  transition: flex-direction 0.4s;
}
.Navbar-item-logo {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}
.Navbar-item-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  transition: font-size 0.4s;
}
.Navbar-item:hover {
  color: #fff;
}
.Navbar-item-logo.fa-circle {
  font-size: 10px;
}
.Navbar-toggler {
  position: absolute;
  font-size: 30px;
  bottom: 35px;
  left: 35px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.hidden {
  display: none;
}
@media (max-width: 600px) {
  .Navbar {
    z-index: 999;
    min-width: 100%;
    height: 70px;
    bottom: 0;
  }
  .Brand-container {
    display: none;
  }
  .Navbar-container {
    flex-direction: row;
    padding-top: 0;
    height: 100%;
  }
  .Navbar-navigation {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 15px;
    transition: padding 0.4s;
  }
  .Navbar-item {
    margin-bottom: 0;
  }
}
